node_modules
dist
.env
.env.local
.env.production
.env.production.local
.DS_Store


# Firebase cache
.firebase/
firestore-debug.log

# Agent skill files
.agents/

*.cache


# Android Studio
.idea/
*.iml
local.properties